@charset "utf-8";
body {
    background-color: #c5dfe0;
    

}
h1 {
    text-align: center;
    border-style: ridge;
    line-height: 200%;
    padding: 0.1em;
    background-color: #8daec3;
    text-shadow: 3px 3px 5px white;
    margin-bottom: 5%;
    font-size: 3em;
}
nav {
    text-align: center;
    margin-bottom: 5%;
}
a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    border-style: ridge;
    padding: 0.5em;
    margin-right: 5%;
    background-color: #8daec3;
    font-size: 1.1em;
    margin-left: 5%;
}
h2 {
    text-align: center;
    border-style: ridge;
    line-height: 200%;
    padding: 0.1em;
    background-color: #8daec3;
    text-shadow: 3px 3px 5px white;
    font-size: 2em;
}
h3 {
    font-size: 35px;
}
p {
    font-size: 1.2em;
    text-align: center;
    font-weight: 600;
}
img {
    width: 100%;
}
figure {
    border-style: ridge;
    
    
}
figcaption {
    text-align: center;
    color: white;
    font-size: 15px;
}
.box1 {
    border-right: 5px white solid;
    border-left: 5px white solid;
    border-top: white dashed;
    border-bottom: white solid;
    border-width: 3px;
    text-align: center;
    padding: 20px 10px;
    background-color: #8daec3;
    border-top-style: dashed;
    margin-bottom: 5%;
}
.box2 {
    border-right: 5px white solid;
    border-left: 5px white solid;
    border-top: white dashed;
    border-bottom: white solid;
    border-width: 3px;
    text-align: center;
    padding: 20px 10px;
    background-color: #8daec3;
    border-top-style: dashed;
    margin-bottom: 5%;
}
.box3 {
    border-right: 5px white solid;
    border-left: 5px white solid;
    border-top: white dashed;
    border-bottom: white solid;
    border-width: 3px;
    text-align: center;
    padding: 20px 10px;
    background-color: #8daec3;
    border-top-style: dashed;
    margin-bottom: 5%;
}
footer {
text-align: center;
font-weight: 600;
margin-bottom: 5%;
}




/*@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    border: none;
    top: 0;
}

body {
    background-color: black;
    color: white;
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;
}

h1 {
    background-color: #480048;
    color: black;
    text-align: center;
    text-shadow: 3px 3px 5px white;
    line-height: 200%;
    font-family: Georgia, “Times New Roman”, serif;
    padding: 1em;
    border: 10px;
    border-style: groove;
    margin-bottom: 1em;
}

h2 {
    padding: 1em;
    border: 4px;
    border-style: groove;
    text-align: center;
    background-color: #480048;
    text-shadow: 3px 3px 5px white;
    margin: 1em;
    color: black;
}


a {
    text-decoration: none;
    color: black;
}

p {
    text-indent: 2em;
}

nav {
    text-align: center;
}

footer {
    color: white;
    font-size: 0.75em;
    font-style: italic;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    margin-top: 2em;
    background-color: #480048;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: 8px;
    border-style: groove;
}

.container {
    width: 80%;
    margin: 20px 30px;
}

.box-1 {
    color: white;
    border-right: 5px #6e6662 solid;
    border-left: 5px #6e6662 solid;
    border-top: 5px #6e6662 solid;
    border: 5px 5px #6e6662 solid;
    border-width: 3px;
    text-align: center;
    padding: 20px 10px;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 1.2em;
}

.box-2 {
    color: white;
    border-right: 5px #f8db7e solid;
    border-left: 5px #f8db7e solid;
    border-top: 5px #f8db7e solid;
    border-bottom: 5px #f8db7e solid;
    border-width: 3px;
    text-align: center;
    padding: 20px 15px;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 1.2em;
}


