@charset "utf-8";
body { 
    background-color: pink;
    
}
h1 {
    color: #000000
}
h2 {
    color: #F00
}
ul {
    color: rgb(255, 255, 255);
}
ol {
    color: hsl(120, 72%, 49%);
}
p {
    color: palevioletred
}