@charset "utf-8";
body {
  background-color: #533618c2;
  color: white;
  font-weight: 600;
  font-size: 20px;
}
header {
  margin-left: 3%;
  margin-right: 3%;
  padding: 2em;
  background-image: url(./imgExercício09/header.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  border: 3px solid white;
  line-height: 200px;
  margin-bottom: 3%;
}
h1 {
  color: white;
  text-align: center;
  font-size: 60px;
  text-shadow: 3px 10px 20px red;
}
.container {
  padding: 2em;
  margin-left: 3%;
  margin-right: 3%;
  background-image: url(./imgExercício09/imgfundo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
img {
  height: 315px;
  width: 560px;
}
.bloco1 {
  background-color: #533618b4;
  border: 3px solid white;
  margin-bottom: 20px;
  padding-bottom: 140px;
}
#img1 {
  float: left;
  padding: 20px;
}
.bloco2 {
  background-color: #533618b4;
  border: 3px solid white;
  margin-bottom: 20px;
  padding-bottom: 170px;
}
.p {
  text-align: left;
  margin-top: 5%;
}
fieldset {
  background-color: #533618b4;
  border: 3px solid white;
}
.bloco3 {
  float: left;
  border: 3px solid white;
  width: 567px;
  box-sizing: border-box;
}
.bloco4 {
  float: right;
  border: 3px solid white;
  width: 567px;
  box-sizing: border-box;
}
.bloco5 {
  float: left;
  border: 3px solid white;
  width: 567px;
  box-sizing: border-box;
}
.bloco6 {
  border: 3px solid white;
  width: 567px;
  box-sizing: border-box;
  float: right;
}
#foco:hover {
  background-color: white;
  opacity: 0.5;
}
#btn {
    padding: 1px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    margin-left: 1%;
}
#btn:hover {
  background-color: #533618b4;
}
.Pnot::first-letter {
  font-size: 200%;
  color: #533618b4;
  background-color: white;
}
.footer::before {
  content: "2020 | ";
  }
  .footer::after {
  content: " | © Hercules Lima";
  }
  .footer {
    text-align: center;
    background-color: black;
    line-height: 200%;
  }
  ::selection {
    color: white;
    background-color: green;
  }

 
