@charset "utf-8";
body {
    background-color: #533618;
}
header {
    padding: 2em;
    background-image: url(header.png);
    background-attachment: fixed;
background-repeat: no-repeat;
background-position: top;
background-size: cover;
border: 3px solid white;
line-height: 240px;
}
h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    text-shadow: 3px 10px 20px red;
}
#container {
    padding: 2em;
    background-image: url(imgfundo.jpg);
    background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}