@charset "utf-8";

body {
    background-color: black;
    font-size: 25px;

    /* display: flex;
    justify-content: center; */
}
div#N1 {
    background-color: #ff7c70;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
}
div#N2 {
    background-color: #396e10;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
}
div#N3 {
    background-color:  #674d69;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
}
h2 {
    color: red;
    display: flex;
    justify-content: center;
}
h1 {
    text-align: center;
    font-weight: 800;
    font-style: italic;
    font-size: 55px;
    color: red;
}
footer {
    color: red;
    font-size: 0.75em;
    text-align: center;
}
div#img {
    display: flex;
    justify-content: center;
}
